@import 'bootstrap/dist/css/bootstrap.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Crimson Text, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: medium;
  font-weight: 550;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FBF2DA;
}

.book-photo {
  width: 180px;
  flex-shrink: 0;
  bottom: -35px;
  left: 35px;
  border-radius: 2px;
  box-shadow: -2px 6px 19px 0px #7f818e;
  flex: 0 0 auto; /* Prevent image from growing */
  margin-right: 20px; /* Adjust the spacing between the image and card content */
  transition: .3s ease;
  &:hover {
   transform: scale(1.03);
  }
 }

 .book-card {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items at the top of the flex container */
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #152B3C;
}

.book-details {
  margin-left: 20px;
  margin-top: 10px;
  flex: 1; /* Allow details to grow and take available space */
  display: flex;
  flex-direction: column; /* Arrange details in a column */
}

.book-content {
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;
 }

 .book-title {
  font-family: Work Sans;
  font-size: 1.5rem;
 }

 .btn-primary {
  background-color:#D46240;
  border-color: #D46240;
  color: #ffffff;
  font-family: Work Sans;
  text-transform: uppercase;
  font-size: small;
  padding: 10px;
  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:focus-visible {
    background-color: #ffffff !important;
    border-color: #D46240 !important;
    color: #D46240 !important;
    box-shadow: none;
  }
 }

 .btn-success {
  background-color:#152B3C;
  border-color: #152B3C;
  color: #ffffff;
  font-family: Work Sans;
  text-transform: uppercase;
  font-size: small;
  padding: 10px;
  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:focus-visible {
    background-color: #ffffff !important;
    border-color: #152B3C !important;
    color: #152B3C !important;
    box-shadow: none;
  }
 }

 .title {
  font-family: Work Sans;
  border: #152B3C solid 1px;
  padding: 2px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
 }

 .subtitle {
  font-family: Work Sans;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
  color: #2F906A;
 }

 .status {
  font-family: Work Sans;
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
 }

 .btn-secondary {
  background-color: #657153;
  border-color: #657153;
  color: #ffffff;
  font-family: Work Sans;
  text-transform: uppercase;
  font-size: small;
  padding: 10px;
  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:focus-visible {
    background-color: #ffffff !important;
    border-color: #657153 !important;
    color: #657153 !important;
    box-shadow: none;
  }
 }

 .btn-danger {
  background-color: #660000;
  border-color: #660000;
  color: #ffffff;
  font-family: Work Sans;
  text-transform: uppercase;
  font-size: small;
  padding: 10px;
  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:focus-visible {
    background-color: #ffffff !important;
    border-color: #660000 !important;
    color: #660000 !important;
    box-shadow: none;
  }
 }

 .user-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items at the top of the flex container */
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #152B3C;
  width: 18rem;
 }

 .user-title {
  font-family: Work Sans;
  font-size: larger;
  text-decoration-line: underline;
  padding: 2px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
 }
